[package]
name = "ext"
version = "0.1.0"
edition = "2018"
authors = ["Ian Ker-Seymer <hello@ianks.com>"]
license = "Apache-2.0"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
lazy_static = "1.4.0"
magnus = { git = "https://github.com/matsadler/magnus", features = ["rb-sys-interop"] }
wasmtime = "2.0.2"
