[package]
name = "wasmtime-rb"
version = "9.0.4"
edition = "2021"
authors = ["The Wasmtime Project Developers"]
license = "Apache-2.0"
publish = false
build = "build.rs"

[features]
default = ["tokio", "all-arch"]
embed = ["magnus/embed"]
tokio = ["dep:tokio", "dep:async-timer"]
all-arch = ["wasmtime/all-arch"]
ruby-api = []
winch = ["wasmtime/winch"]

[dependencies]
lazy_static = "1.4.0"
magnus = { version = "0.6", features = ["rb-sys"] }
rb-sys = { version = "*", default-features = false, features = [
  "stable-api-compiled-fallback",
] }
wasmtime = { version = "= 16.0.0" }
wasmtime-wasi = "= 16.0.0"
wasi-common = "= 16.0.0"
wasi-cap-std-sync = "16.0.0"
cap-std = "2.0.0"
anyhow = "*" # Use whatever Wasmtime uses
wat = "1.0.79"
tokio = { version = "1.28.2", features = [
  "rt",
  "rt-multi-thread",
  "time",
  "net",
], optional = true }
async-timer = { version = "1.0.0-beta.11", features = [
  "tokio1",
], optional = true }
static_assertions = "1.1.0"
wasmtime-runtime = "16.0.0"
wasmtime-environ = "= 16.0.0"
deterministic-wasi-ctx = "0.1.17"

[build-dependencies]
rb-sys-env = "0.1.2"
