[package]
name = "wasmtime-rb"
version = "0.1.0"
edition = "2021"
authors = ["Ian Ker-Seymer <hello@ianks.com>"]
license = "Apache-2.0"
publish = false
build = "build.rs"

[features]
default = ["tokio"]
embed = ["magnus/embed"]
tokio = ["dep:tokio", "dep:async-timer"]
ruby-api = []

[dependencies]
lazy_static = "1.4.0"
magnus = { version = "0.4", features = ["rb-sys-interop"] }
rb-sys = "~0.9.60"
wasmtime = "5.0.0"
wasmtime-wasi = "5.0.0"
wasi-common = "5.0.0"
wasi-cap-std-sync = "5.0.0"
cap-std = "1.0.5"
anyhow = "*" # Use whatever Wasmtime uses
wat = "1.0.57"
tokio = { version = "1.25.0", features = ["rt", "rt-multi-thread", "time", "net"], optional = true }
async-timer = { version = "1.0.0-beta.8", features = ["tokio1"], optional = true }

[build-dependencies]
rb-sys-env = "0.1.2"
