[package]
name = "ext"
version = "0.1.0"
edition = "2018"
authors = ["Ian Ker-Seymer <hello@ianks.com>"]
license = "Apache-2.0"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
lazy_static = "1.4.0"
magnus = { version = "0.4.2", features = ["rb-sys-interop"] }
rb-sys = "~0.9.46"
wasmtime = "3.0.1"
wasmtime-wasi = "3.0.1"
wasi-common = "3.0.1"
wasi-cap-std-sync = "3.0.1"
cap-std = "0.26.0" # Pinned to wasmtime's version
anyhow = "*" # Use whatever Wasmtime uses
wat = "1.0.52"
