[package]
name = "wasmtime-rb"
version = "9.0.1"
edition = "2021"
authors = ["The Wasmtime Project Developers"]
license = "Apache-2.0"
publish = false
build = "build.rs"

[features]
default = ["tokio", "all-arch"]
embed = ["magnus/embed"]
tokio = ["dep:tokio", "dep:async-timer"]
all-arch = ["wasmtime/all-arch"]
ruby-api = []

[dependencies]
lazy_static = "1.4.0"
magnus = { version = "0.5.3", features = ["rb-sys-interop"] }
rb-sys = "~0.9.79"
wasmtime = { version = "= 9.0.1" }
wasmtime-wasi = "= 9.0.1"
wasi-common = "= 9.0.1"
wasi-cap-std-sync = "= 9.0.1"
cap-std = "1.0.5"
anyhow = "*" # Use whatever Wasmtime uses
wat = "1.0.63"
tokio = { version = "1.28.1", features = ["rt", "rt-multi-thread", "time", "net"], optional = true }
async-timer = { version = "1.0.0-beta.8", features = ["tokio1"], optional = true }
static_assertions = "1.1.0"
wasmtime-runtime = "= 9.0.1"
wasmtime-environ = "= 9.0.1"

[build-dependencies]
rb-sys-env = "0.1.2"
