---
name: Build gems

on:
  workflow_dispatch:
  push:
    branches: ["main", "cross-gem/*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-data:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.fetch.outputs.result }}
    steps:
      - id: fetch
        uses: oxidize-rb/actions/fetch-ci-data@main
        with:
          supported-ruby-platforms: |
            exclude: [arm-linux] # no cranelift support yet
          stable-ruby-versions: |
            exclude: [head]

  native:
    name: Build native gems
    needs: ci-data
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-platform: ${{ fromJSON(needs.ci-data.outputs.result).supported-ruby-platforms }}
    steps:
      - uses: actions/checkout@v3

      - uses: oxidize-rb/actions/setup-ruby-and-rust@main
        with:
          ruby-version: "3.1"
          bundler-cache: false
          cargo-cache: true
          cargo-vendor: true
          cache-version: v0-${{ matrix.ruby-platform }}

      - uses: oxidize-rb/cross-gem-action@main
        with:
          version: latest
          platform: ${{ matrix.ruby-platform }}
          ruby-versions: ${{ join(fromJSON(needs.ci-data.outputs.result).stable-ruby-versions, ', ') }}

      - name: Smoke gem install
        if: matrix.ruby-platform == 'x86_64-linux' # GitHub actions architecture
        run: |
          gem install pkg/wasmtime-rb-*.gem --verbose
          script="puts Wasmtime::Engine.new.precompile_module('(module)')"
          ruby -rwasmtime -e "$script" | grep wasmtime.info
          echo "✅ Successfully gem installed"

  source:
    name: Build source gem
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        ruby: ["3.1"]
    steps:
      - uses: actions/checkout@v3

      - uses: oxidize-rb/actions/setup-ruby-and-rust@main
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cargo-cache: true
          cache-version: v1

      - name: Smoke test gem install
        shell: bash
        run: |
          bundle exec rake build
          gem install pkg/wasmtime-rb-*.gem --verbose
          script="puts Wasmtime::Engine.new(Wasmtime::Config.new).precompile_module('(module)')"
          ruby -rwasmtime -e "$script" | grep wasmtime.info
          echo "✅ Successfully gem installed"
